<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ajouter une personne</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header>
        <div class="header-container">
            <h1 class="header-title">Spring Boot</h1>
            <div class="logout-button">
                <a href="/login">Déconnecter</a>
            </div>
        </div>
    </header>
    <div class="content">
        <h2>Ajouter une personne</h2>

        <form th:action="@{/persons/save}" th:object="${person}" method="post">
            <label>Nom d'utilisateur:</label>
            <input type="text" th:field="*{username}" required />

            <label>Mot de passe:</label>
            <input type="password" th:field="*{password}" required />

            <label>Prénom:</label>
            <input type="text" th:field="*{firstName}" required />

            <label>Nom:</label>
            <input type="text" th:field="*{lastName}" required />

            <label>Téléphone:</label>
            <input type="text" th:field="*{phoneNumber}" />

            <label>Rôle:</label>
            <select th:field="*{role}" required>
                <option value="ADMIN" th:selected="${person.role == 'ADMIN'}">Admin</option>
                <option value="USER" th:selected="${person.role == 'USER'}">User</option>
            </select>

            <input type="submit" value="Enregistrer" />
        </form>
    </div>
</body>

</html>