<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <h2>Enter your name and age</h2>
    <form th:action="@{/submit}" method="post" th:object="${userForm}">
        <label for="name">Name:</label><input type="text" id="name" th:field="*{name}" placeholder="Your name">
        <div th:if="${#fields.hasErrors('name')}" class="error">
            <p th:errors="*{name}"></p>
        </div>
        <br>

        <label for="age">Age:</label>
        <input type="number" id="age" th:field="*{age}" placeholder="Your age">
        <div th:if="${#fields.hasErrors('age')}" class="error">
            <p th:errors="*{age}"></p>
        </div>
        <br>

        <button type="submit">Submit</button>
    </form>

    <h2 th:if="${message}" th:text="${message}"></h2>
</body>
<style>
    .error {
        color: rgb(146, 0, 0);
    }
</style>
</html>
